{% extends "base.html" %}
{% block content %}
<div class="mt-2 pt-2 ps-3 pb-1 bg-danger text-white rounded">
    <h4>ประวัติการเบิกยา</h4>
</div>
<div class="container-fluid my-3 justify-content-center align-items-center shadow rounded">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ชื่อผู้เบิก</th>
                <th>ที่อยู่</th>
                <th>เบอร์โทร</th>
                <th>ชื่อยาที่เบิก</th>
                <th>จำนวน</th>
            </tr>
        </thead>
        <tbody>
            {% for i in report %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.tal }}</td>
                    <td>{{ i.drug_name }}</td>
                    <td>{{ i.drug_qty }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
